<h1>Create new user</h1>

<%= form_for @user do |f| %>


<%= f.label :username %> <br>
<%= f.text_field :username %> <br>

<%= f.label :password %> <br>
<%= f.password_field :password %> <br>

<%= f.collection_select :age, User.all, :id, :age %> <br>

<%= f.submit 'Submit' %>
<%end%>